[
  {
    "native": "hello",
    "foreign": "Hallo"
  },
  {
    "native": "dog",
    "foreign": "Hund"
  },
  {
    "native": "cat",
    "foreign": "Katze"
  },
  {
    "native": "mirror",
    "foreign": "Spiegel"
  },
  {
    "native": "five",
    "foreign": "fünf"
  }
]
